h2, h4, h5 {
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg-color);
  border: 1px solid var(--border-color);
}

.card-header {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}

.list-group-item {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);

  &.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
  }

  &:not(.active):hover {
    background-color: var(--bg-color);
  }

  &:last-child {
    border-bottom: none;
  }
}
