<div class="login-container">
  <div class="card shadow-sm">
    <div class="card-body p-4">
      <h3 class="card-title text-center mb-4">Construtiva</h3>
      <form [formGroup]="loginForm">
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="seu@email.com">
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger mt-1">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">E-mail é obrigatório.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato de e-mail inválido.</small>
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Sua senha">
           <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger mt-1">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Senha é obrigatória.</small>
          </div>
        </div>
        <div class="d-grid">
          <button type="button" (click)="onSubmit()" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        </div>
        <div class="text-center mt-3">
          <a href="#" class="text-decoration-none">Esqueci minha senha</a>
        </div>
        <div class="text-center mt-2">
          <a routerLink="/register" class="text-decoration-none">Não tem uma conta? Cadastre-se</a>
        </div>
      </form>
    </div>
  </div>
</div>